.perfil-imagen-wrapper {
    position: relative;
  }
  
  .imagen-editable {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .imagen-perfil {
    border: 2px solid #dee2e6;
    transition: transform 0.2s;
  }
  
  .imagen-editable:hover .imagen-perfil {
    transform: scale(1.05);
  }
  
  .icono-editar {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #0d6efd;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    transform: translate(25%, 25%);
    transition: background-color 0.3s ease;
  }
  
  .imagen-editable:hover .icono-editar {
    background-color: #0a58ca;
  }
  
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
  
  .modal-edicion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  }
  
  .modal-contenido {
    position: relative;
  }

  //estilos para los botones de la tabla
  .boton-mini {
    width: 1.5rem;
    // padding: 0.25rem 0.5rem;
    // font-size: 0.75rem;
    // line-height: 1;
  }

  .apartados {
    background-color: #9ccc65;
  }
  